@model RestoranOtomasyonu.Models.Product
@{
    ViewBag.Title = "Ürün Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ürün Güncelle</h2>
<br />

@using (Html.BeginForm("Update", "Product", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ProductId)

    <div class="form-group">
        <label>Ürün Adı</label>
        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
    </div>
    <br />

    <div class="form-group">
        <label>Kategorisi</label>
        @Html.DropDownListFor(m => m.CategoryId, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    </div>
    <br />

    <div class="form-group">
        <label>Fiyatı</label>
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    </div>
    <br />

    <div class="form-group">
        <label>Resim Yolu(Sonraki İş)</label>
        @Html.TextBoxFor(m => m.ImagePath, new { @class = "form-control" })
    </div>
    <br />

    <div class="form-group">
        <label>Durum</label>
        @Html.TextBoxFor(m => m.IsActive)
        <span>True: Evet, False: Hayır</span>
    </div>
    <br />

    <div class="form-group">
        <button class="btn btn-success">Değişiklikleri Kaydet</button>

        <a href="/Product/Index" class="btn btn-danger" style="margin-left: 10px;">
            İptal
        </a>
    </div>
}

